<nav class="navbar navbar-default">
  <div class="container-fluid">
	  <div class="navbar-header">
      <a class="navbar-brand" href="#">DaWang 留言本</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/tp5">首页 <span class="sr-only">(current)</span></a></li>
        <li><a href="/tp5/add">发布留言</a></li>
        
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
      	<li><a href="#">注册</a></li>
        <li><a href="#">登录</a></li>
        <li><a href="#">QQ:228392101</a></li>
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>