<!DOCTYPE>
<html>
<head>
<meta charset="UTF-8">
<title>登录</title>
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="__STATIC__/css/login.css">
</head>
<body>
<div class="login-container" style="height:100%">

    <div class="clouds clouds-footer"></div>
    <div class="clouds"></div>
    <div class="clouds clouds-fast"></div>
    <div id="login_form" class="container">
    <form action='login_submit' method="post" class="content">
            <div class="people">
                <div class="tou"></div>
                <div id="left-hander" class="initial_left_hand transition"></div>
                <div id="right-hander" class="initial_right_hand transition"></div>
            </div>
            <ul>
                <li>
                  <h2>
                  用户登录<span>UserLogin</span>
                  </h2>
                </li>
                <li>
                  <input style="display:none" type="text" name="user_name"/>
                    <input required="required"
                           pattern="^\S{4,}$"
                           title="请输入4位及以上的字符"
                           type="text"
                           name="user_name"
                           autocomplete="off"
                           autofocus="autofocus"
                           class="login-input username"
                           placeholder="请输入用户名"/>
                </li>
                <li>
                <input style="display:none" type="password" name="user_passwd"/>
                    <input required="required"
                           pattern="^\S{6,}$"
                           title="请输入6位及以上的字符"
                           type="password"
                           name="user_passwd"
                           autocomplete="off"
                           class="login-input password"
                           placeholder="请输入密码"/>
                </li>
                <li>
                  <input required="required"
                           pattern="^\S{4}$"
                           title="请输入4位字符"
                           type="vertify"
                           name="user_vertify"
                           autocomplete="off"
                           class="login-input vertify"
                           placeholder="请输入验证码"/>
                  <img src="{:captcha_src()}" onclick="this.src='{:captcha_src()}?x='+Math.random();" />
                </li>
                <li class="text-center">
                    <button type="submit" class="layui-btn">立 即 登 入</button>
                    <a href="regist" class="toRegist">先 去 注 册</a>
                </li>
            </ul>
        </form>
  </div>
</div>
</body>
</html>